*{
  margin: 0;
  padding: 0;
}
body{
  margin-right: 100px;
  margin-left: 100px;
  border-left: 3px solid #ff7450;
  border-right: 3px solid #ff7450;
  background: #585858;
}
.bgcolor {
  background: #ffffff;
}
.logo {
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu {
  width: 1000px;
  height: 40px;
  background: url("../img/menu.jpg");
  margin-left: 60px;
}
.menu ul{
  margin-left: 0;
}
.menu ul li {
  float: left;
  font-size: 15px;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  background: url("../img/line_left.png") no-repeat;
  }
.menu a {
  font-weight: bold;
  color: rgb(249, 249, 249);
  text-decoration: none;
  display: block;
  padding: 11px 60px;

  }
.menu a:hover{
  background: rgb(88, 88, 88);
  color: rgb(255, 255, 255);
   /* z-index: 12; */
}


.content{
  display: flex;
  margin-left: 60px;
  margin-top: 40px;
  }
.second {
  list-style: none;
  display: block;
  /*margin-top: 40px;*/
  width: 240px;
  height: 40px;
}
.second a {
  /*width: 240px;*/
  height: 15px;
  text-decoration: none;
  display: block;
  border: 1px solid rgb(117, 123, 124);
  padding: 10px;
  color: rgb(97, 97, 97);
  font-size: 15px;
  background-color: rgb(249, 249, 249);
  text-align: left;
}

.second a:hover{
  color: rgb(255, 255, 255);
  background: rgb(88, 88, 88);
  text-align: center;
  /*text-align: center;*/
  transition: 0.3s;
  padding: 12px;
  margin: 2px;
    width: 220px;
}

.frame {
  display: block;
  margin-left: 80px;
  border: 1px solid black;
  padding: 45px 90px;

}


.frame img {
  width: 500px;
  height: 300px;
  }
  .text {
    display: block;
    overflow: auto;
    padding: 0;
    /*margin-right: 290px;*/
    margin: 40px 100px 60px 400px;
    /*border: 1px solid red;*/
    /*background-color: rgb(110, 156, 199)*/
  }
footer {
  flex: 0 0 auto;
   }

.fin{
  display: inline-block;
  width: 1000px;
  height: 40px;
  background: url("../img/footer.jpg");
  margin-left: 50px;
  margin-right: 250px;
  }
.fin ul {
  list-style: none;
  margin: 0;
  padding: 0;

    }
.fin ul li {
  padding:0;
  width:180px;
  height: 40px;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 1px -2px -2px;
}
.fin a {
  font-weight: bold;
  color:black;
  text-decoration: none;
  display: block;
  /*border: 1px solid red;*/
  padding: 10px 50px;
}
.fin a:hover{
  background: rgb(70, 70, 70);
  transition: 0.5s;
  color: white;
  text-decoration: underline;
}
.fin .copy {
  display: block;
  /*width: auto;*/
  /*height: auto;*/
  float: right;
}
.copy p{
  display: block;
  width: 200px;
  margin-top: 10px;
  height: auto;
  /*border: 1px solid green;*/
  text-align: center;
  }